body{
    background-color: gray;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.name-cont{ 
    text-align: center;
    margin: 50px;
}
.lorem{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px ;
}
input{
    width: 250px;
    height: 30px;
    border-color: #083313;
    margin: 10px;
} 
.btn{

    width: 280px;
    height: 40px;
    border: none;
    font-family: 'Oxygen', sans-serif;
    border-radius: 10px;
    background-color: #083313;
    color: white;
}